<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MVC in Go</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div style="height:100vh;">
        <div style="position: relative; top: 50%; transform: translateY(-50%);">
            <div class="text-center pt-5">
                <h1 class="display-4">{{ .Email }}</h1>
            </div>
            <div>
                <a id="deleteButton" class="btn btn-danger btn-block col-md-2 offset-md-5" href="" role="button">
                    Deelte account
                </a>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        let deleteButton = document.getElementById("deleteButton")
        deleteButton.addEventListener("click", function (e) {
            e.preventDefault()
            $.ajax({
                url: "http://192.168.55.55:5050/account/{{ .ID }}",
                type: "DELETE"
            }).done(function () {
                location.href = "/account/create"
            })
        }, false)
    </script>
</body>

</html>